*~
*.swp
*.swo
*.tfrecord

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# DIstribution / packaging
.Python
build/
dist/
downloads
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
MANIFEST

